$colors: (
  'black': 60 4% 11%,
  'black-light': 0 0% 20%,
  'white': 360 100% 100%,
  'blue': 214 100% 92%,
  'blue-light': 216 100% 96%,
  'red': 358 92% 44%,
  'orange' : 44 100% 57%,
  'gray' : 213 43% 96%
);
