$colors: (
  'black-50': 0 0% 20%,
  'black-100': 60 4% 11%,
  'white-50': 360 100% 100%,
  'blue-50': 216 100% 96%,
  'blue-100': 214 100% 92%,
  'red-50': 358 92% 44%,
  'orange-50' : 44 100% 57%,
  'gray-50' : 213 43% 96%
);
