$font-family-base: 'Roboto', 'Arial', 'Verdana', system-ui, sans-serif;
$font-name-base: 'Roboto';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$fluid-min-bp: 320;
$fluid-max-bp: 1920;
