.button-switch {
    display: flex;
    justify-content: flex-end;
}

.button-switch__input {
    width: 100%;
    margin: 0;
    appearance: none;
}

.button-switch__label {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 6px 10px;
    border: 1px solid var(--color-black);
    border-radius: 3px;
    cursor: pointer;

    & > * {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

[for='input-switch-weather'] {
    color: var(--color-black);
    background-color: var(--color-white);

    &:has(input:checked) {
        color: var(--color-white);
        background-color: var(--color-grey);
    }
}

[for='input-switch-messenger'] {
    color: var(--color-black);
    background-color: var(--color-white);

    &:has(input:checked) {
        color: var(--color-white);
        background-color: var(--color-grey);
    }
}


