@use '../0-abstracts/typography' as *;

@mixin font-face($family, $src:'', $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('#{$src}.woff2') format('woff2');
  }
}

// Roboto Regular // -----------------------------------------------------------
@include font-face(
  $font-name-base,
  '../font/roboto/Roboto-Regular',
  normal,
  400
);

// Roboto Bold // -----------------------------------------------------------
@include font-face(
  $font-name-base,
  '../font/roboto/Roboto-Bold',
  normal,
  700
);
