@use '../0-abstracts/breakpoints' as *;

@mixin focus-visible() {
    outline: 2.5px solid var(--color-focus-visible);
    border-radius: inherit;
}

@mixin hover() {
    &:hover {
        @media (hover: hover) and (pointer: fine) {
            @content;
        }
    }
}
