@use '../2-tools/fluid-unit' as *;
@use '../2-tools/container-query' as *;

.dashboard {
    container: dashboard / inline-size;
}

.dashboard__inner {
    margin: var(--space-m);
}

.dashboard__inner:has([for*="chat"]) {

    @include container-query(dashboard, medium) {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 20px;
    }
}

.dashboard__inner:has([for*="weather"]) {

    @include container-query(dashboard, large) {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 20px;
    }
}

.dashboard__main {
    padding: var(--space-m);
    border: 1px solid var(--color-black);
    border-radius: 4px;
}

.dashboard__extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l);
    background-color: var(--color-grey);
    border-radius: 12px;
    margin-block-start: var(--space-l);
    padding: var(--space-m);
    position: relative;


    @include container-query(dashboard, medium) {
        margin-block-start: revert;
    }
}

