@use '../2-tools/fluid-unit' as *;
@use '../2-tools/container-query' as *;

.dashboard__inner {
    margin-inline: fluid-unit(10,25);
    margin-block-start: fluid-unit(20, 35);
    container: dashboard / inline-size;
}

.dashboard__main {
    @include container-query(dashboard, small) {
        max-width: 400px;
    }
}
