@use '../2-tools/fluid-unit' as *;
@use '../0-abstracts/colors' as *;
@use '../2-tools/container-query' as *;

.dashboard {
    container: dashboard / inline-size;
}

.dashboard__inner {
    margin: var(--space-m);
}

.dashboard__inner:has([id*="chat"]) {

    @include container-query(dashboard, medium) {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 20px;
    }
}

.dashboard__inner:has([id*="cards"]) {

    @include container-query(dashboard, large) {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 20px;
    }
}

.dashboard__main {
    padding: var(--space-m);
    border: 1px solid var(--color-black-50);
    border-radius: var(--border-radius-xs);
    background-color: var(--color-white-50);
    max-height: fit-content;
}

.dashboard__extra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l);
    background-color: var(--color-grey);
    border-radius: var(--border-radius-s);
    margin-block-start: var(--space-l);
    padding: var(--space-m);
    position: relative;
    background-color: var(--color-blue-100);

    @include container-query(dashboard, large) {
        margin-block-start: revert;
    }
}

.dashboard__extra:has([id*="chat"]) {
    @include container-query(dashboard, medium) {
        margin-block-start: revert;
    }
}

