@use '../2-tools/container-query' as *;
@use '../0-abstracts/typography' as *;
@use '../2-tools/fluid-unit' as *;

.cards {
    @include container-query(dashboard, medium) {
        margin-block-start: calc(var(--space-xxl) + 40px); // magic number: alignment with dashboard's heading
    }
}

.cards__inner {
    display: grid;
    grid-template-columns: 1fr;
}

.cards__heading {
    margin-block-start: calc(var(--space-l));
    text-align: center;

    @include container-query(dashboard, medium) {
        margin-block-start: 0;
        text-align: start;
    }
}

.cards__content {
    margin-block-start: calc(var(--space-m));
    display: grid;
    gap: var(--space-s);
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: var(--space-s);
    justify-content: center;

    @include container-query(dashboard, medium) {
        justify-content: revert;
    }
}
