@use '../2-tools/container-query' as *;
@use '../2-tools/fluid-unit' as *;

.cards {
    @include container-query(dashboard, medium) {
        margin-block-start: calc(var(--space-xxl) + 40px);
    }
}

.cards__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-l);
}


.cards__heading {
    text-align: center;

    @include container-query(dashboard, medium) {
        text-align: revert;
    }
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: var(--space-s);
    justify-content: center;

    @include container-query(dashboard, medium) {
        justify-content: revert;
    }
}
