@use '../2-tools/container-query' as *;
@use '../2-tools/fluid-unit' as *;

.chat {
    @include container-query(dashboard, large) {
        margin-block-start: calc(var(--space-xxl) + 40px); // magic number: alignment with dashboard's heading
    }
}

.chat__inner {
    container: chat / inline-size;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-l);
}

.chat__heading {
    text-align: center;
    margin-block-start: calc(var(--space-l));

    @include container-query(dashboard, large) {
       text-align: start;
        margin-block-start: 0;
    }
}

.chat__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-m);
}

.chat__button {
    display: block;
    max-width: fit-content;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    margin-block-start: var(--space-m);
    margin-inline-start: auto;
    padding: 4px 6px;
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms ease-in;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
    }
}
