@use '../2-tools/fluid-unit' as *;
@use '../2-tools/mixins' as *;

.search-field {
    position: relative;
    border: 1.5px solid var((--color-black-50));
    border-radius: var(--border-radius-xs);
    padding: 3px 5px;
}

.search-field__icon {
    display: inline-flex;
    width: 1em;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    margin-inline-start: var(--space-xs);
    color: var(--color-black-50);
}

.search-field__input {
    min-width: 100%;
    padding-inline-start: var(--space-m);
    position: relative;
    z-index: 1;
    top: 2px;
    background-color: var(--color-white-50); // overwrite iOS user agent styles

    &::placeholder {
        font-size: inherit;
        color: var(--color-black-50);
    }
}

.search-field__input:focus-visible {
    @include focus-visible;
}
