@use '../2-tools/fluid-unit' as *;
@use '../2-tools/mixins' as *;

.search-field {
    position: relative;
    border: 1.5px solid var((--color-black-50));
    border-radius: 3px;
    padding: 3px 5px;
}

.search-field__icon {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    margin-inline-start: var(--space-xs);
    display: inline-flex;
    color: var(--color-black-50);
    width: 1em;
}

.search-field__input {
    min-width: 100%;
    padding-inline-start: var(--space-m);
    position: relative;
    z-index: 1;
    top: 2px;

    &::placeholder {
        color: var(--color-black-50);
    }
}

.search-field__input:focus-visible {
    @include focus-visible;
}

.search-field__input::placeholder  {
    font-size: inherit
}
