@use '../2-tools/fluid-unit' as *;
@use '../2-tools/mixins' as *;

.search-field {
    position: relative;
    border: 1.5px solid var((--color-black));
    border-radius: 3px;
    font-size: fluid-unit(14, 16);
}

.search-field__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-inline-start: var(--space-s);
    display: inline-flex;

    & > svg {
        width: 1em;
    }
}

.search-field__input {
    min-width: 100%;
    padding-inline-start: var(--space-l);
}

.search-field__input:focus-visible {
    @include focus-visible;
}

.search-field__input::placeholder  {
    font-size: inherit
}
