@use '../2-tools/container-query' as *;

.teaser-card {
    max-width: 150px;
    min-height: 180px;
    align-content: center;
    padding: 20px;
    border-radius: var(--border-radius-s);
    background-color: var(--color-white-50);
}

.teaser-card__article {
    text-align: center;
    @include container-query(dashboard, medium) {
        display: grid;

        & > * {
            grid-area: 1 / 1;
        }
    }
}

.teaser-card__article .front {
    @include container-query(dashboard, medium) {
        opacity: 1;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        transition: transform 600ms ease, opacity 200ms ease;
    }
}

.teaser-card__article .back {
    @include container-query(dashboard, medium) {
        opacity: 0;
        transform: rotateY(-180deg);
        align-content: center;
        transition: transform 400ms ease, opacity 200ms ease;

        & > p:first-child {
            margin: 0;
        }
    }
}

.teaser-card:hover {
    @include container-query(dashboard, medium) {
        & .front {
            transform: rotateY(180deg);
            opacity: 0;
        }

        & .back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
}

.teaser-card__icon > svg {
    max-width: 45px;
}
