.teaser-dashboard {
    margin-block-start: var(--space-xxxl);
    max-width: 1200px;
    margin-inline: auto;
}

.teaser-dashboard__header h1,
.teaser-dashboard__header h2 {
    display: grid;
    row-gap: var( --space-s);
    text-align: center;
}

.teaser-dashboard__icon > svg {
    max-width: 45px;
}

.teaser-dashboard__list {
    padding: var(--space-m);
    margin-block-start: var(--space-xxl);
    border: 1px solid var(--color-black);
    border-radius: 4px;
}

.teaser-dashboard__item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > span:last-child {
        text-align: end;
    }
}
