@use '../2-tools/fluid-unit' as *;
@use '../2-tools/mixins' as *;
@use '../2-tools/container-query' as *;
@use '../0-abstracts/typography' as *;

.teaser-chat {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.teaser-chat__image {
    width: var(--space-xxl);
    flex-shrink: 0;
    align-self: self-start;

    & img {
        border-radius: 50%;
    }
}

.teaser-chat__heading {
    font-size: fluid-unit(16, 18);
}

.teaser-chat__copy,
.teaser-chat__button {
    font-size: fluid-unit(14, 16);
}

.teaser-chat__button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    margin-inline-start: auto;
    flex-shrink: 0;

    &:focus-visible {
        @include focus-visible;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: fluid-unit(8, 12);
        height: fluid-unit(8, 12);
        background-color: var(--color-black);
    }
}

.is-read .teaser-chat__button::before {
    display: none;
}

.teaser-chat__icon {
    display: none;
}

.is-read .teaser-chat__icon {
    display: block;
}
